@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    position: fixed;
    top: 5%;
    font-family: 'Raleway', sans-serif;
}

.container {
    min-height: 50vh;
    width: 50vw;
    border: 5px solid #3495ed;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.arrow {
    height: 5rem;
    transition-duration: .5s;
    cursor: pointer;
}

.arrow-left {
    position: fixed;
    left: 22vw;
    top: 48vh;
}

.arrow-right {
    position: fixed;
    right: 22vw;
    top: 48vh;
}
