body {
    margin: auto;
}

.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#color-change {
    height: 12.5rem;
    width: 25rem;
    color: firebrick;
    background-color: lightblue;
    border-radius: 2rem;
    font-size: 2rem;
    font-family: Tahoma, sans-serif;
}
